* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    font-family: Calibri, sans-serif;
    background-color: #221900;
    color: LightCyan;
    padding-top: 0.5em; 
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em 0;
    width: 100%;
    color: Coral;
    background-color: #213e69;
    margin-bottom: 1rem;
}
comment {
    justify-content: center;
    font-family:Cambria;
    color: LightSkyBlue;
    font-size: 1.2em;
     margin-bottom: 2rem;
}
main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: end;
    flex-grow: 1;
    max-width: 960px;
    font-family: Optima, Calibri, sans-serif;
    padding-bottom: 3.5em;
}
h1 {
    padding-left: .5em;
    font-size: 2em;
    font-weight: 400;
}
a {
    color: darkorchid;
}
a:hover {
    color: DeepSkyBlue;
    text-decoration: underline;
}
.thumbnail {
width: 100px;
height: auto;
}
.caption-title {
    font-family:Cambria;
    color: LightSkyBlue;
    font-size: 1.2em;
    font-weight: 200;
}
