body {
 display: grid;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 75px 50px 1fr 50px;
    grid-template-areas: 
        'header header header header header'
        'nav nav nav nav nav'
        'sidebar   main   main   main   main'
        'footer footer footer footer footer';
}
h1 {
    font-size: 40px;
    color: darkorchid;
    text-align: center;
    margin-bottom: 0.2em
}
a {
  color: darkorchid;
  
}
a:hover {
  color: DeepSkyBlue;
  background-color: transparent;
  text-decoration: underline;
}
.item {
    padding: .1em;
    color: white;
    font-family: Didot, serif;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 2.5px 2.5px 0 rgba(0, 0, 0, 0.2);
}
.item_heather {
    background-color: MidnightBlue;
    grid-area: header;  
     background-image: url("https://raw.githubusercontent.com/WernerDJ/sample_website/main/Images/SeaHorizon.jpg"); 
    	background-size: cover; 
    	background-position: center; 
}

.item_navig {
    background-color: Black;
    grid-area: nav;  
    list-style-type: none;
    text-transform: uppercase;
    font-size: 2em;
    margin-top: .75em;
    margin-right: 2em;
    margin-bottom: .5em;
    margin-left: 2em;
    padding-top: .5em;
    padding-bottom: .5em;
    list-style-type: none;
    text-align: center;
    border-bottom: 1px solid white;
}
.itemc {
    background-color: MidnightBlue;
    grid-area: main;  
}
.itemd {
    background-color: black;
    grid-area: sidebar;  
}
.iteme {
    background-color: orange;
    grid-area: footer;  
}
.top-header { 
    	width: 100%; 
    	background-image: url("https://raw.githubusercontent.com/WernerDJ/sample_website/main/Images/SeaHorizon.jpg"); 
    	background-size: cover; 
    	background-position: center; 
    } 
     
.top-header > h1 { 
    	color: white; 
    	padding: 2em 1em; 
    	font-family: sans-serif;
    } 
